@CHARSET "UTF-8";

.alert {
    display: none;
}

.uploading-progress {
    display: none;
}

.cropper-prev {
     display: none;
 }

.hidden-attribute {
    display: none;
}

.combodate select {
    width: 32%;
}