@CHARSET "UTF-8";

.alert {
    display: none;
}

.uploading-progress {
    display: none;
}

.cropper-prev {
     display: none;
 }

.combodate select {
    width: 32%;
}

.combodate select {
    padding: 6px 12px;
    font-size: 14px;
    text-transform: capitalize;
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 34px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #000000;
}

.combodate option:FIRST-CHILD {
    color: #4493BC;
}

.combodate select:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
    rgba(102, 175, 233, 0.6);
}

.label {
    font-family: inherit;
    font-size: 16px;
    color: #696969;
}

.error {
    border: 1px solid #b94a48;
    background-color: #fee;
}

.line {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
}