.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.error-details {color: #ffffff;}
h1 {color:#ffffff;}
h2 {color:#ffffff;}