@CHARSET "UTF-8";

.table-textarea {
	overflow: hidden;
	resize: none;
	height: 100%;
	width: 100%;
	border: 0;
	background-color: transparent;
}

.input-data {
	padding: 0px !important;;
}

.expected-answer {
	padding: 0px !important;;
}

.btn-group {
	margin-bottom: 15px;
}