@CHARSET "UTF-8";

.form-group {
	margin-bottom: 4px;
}
.popover-content {
  padding: 8px 15px;
}

.nearLabel {
	left: 25%;
	top: -30%;
}

.sign-up-title {
	color: dimgray;
	text-align: center
}

.popover {
	width: 70%;
}
}