@CHARSET "UTF-8";

.test-result-table > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.test-result-table > tbody > tr:first-child {
    border-top: 0;
}

.test-result-table > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top:20px;
}

.mybtn {
	width: 80px;
	height:30px;   
    left: 50%;    
}
.wrapper{
	text-align: center;
}

.pos {
    text-align: center;
	margin-top: 40px; 
	height: 50px;
}