@CHARSET "UTF-8";

.panel {
    text-align: center;
    height: inherit;
}

.question-description-panel {
    min-height: 100px;
    margin-top: 20px;
    text-align: justify;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    width: 100%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
}

#loadingIcon {
    margin-top: 50px;
}

.pager li > a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #d9edf7;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #0075b0;
    text-decoration: none;
    width: 120px;
}

.has-error {
    border: #a94442;
}

.pager li > .has-error-btn {
    background-color: #ebcccc;
}

.popover.top {
    margin-top: -17px;
}

.custom-font {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}