@CHARSET "UTF-8";

.test-result-table > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.test-result-table > tbody > tr:first-child {
    border-top: 0;
}

.test-result-table > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top:20px;
}

.mybtn {
	display: block;
	margin-top: 10px;
    margin-bottom: 10px;	
	width: 85px;
	height:35px;   
    left: 50%;
    text-align: center;   
    margin-right: auto;
    margin-left: auto;  
}
.wrapper{
	text-align: center;
}

.pos {
    text-align: center;
	margin-top: 40px; 
	height: 50px;
}